.square-teal {
	@apply absolute
		bg-gradient-to-br
		from-gray-200
		to-gray-400
		w-20
		h-20
		sm:w-24
		sm:h-24
		lg:w-32
		lg:h-32
		rounded
		opacity-50;
}
.square-light-blue{
	@apply absolute
		ml-16
		mt-10
		bg-gradient-to-br
	from-gray-400
	to-gray-700
		w-20
		h-20
		sm:w-24
		sm:h-24
		lg:w-32
		lg:h-32
		opacity-50;
}
.square-cyan{
	@apply absolute
		ml-32
		mt-20
		bg-gradient-to-br
	from-gray-200
	to-gray-400
		w-20
		h-20
		sm:w-24
		sm:h-24
		lg:w-32
		lg:h-32
		rounded
		opacity-50;

}

.square-small-teal {
	@apply absolute
		bg-gradient-to-br
		from-teal-100
		to-teal-200
		w-20
		h-20
		sm:w-28
		sm:h-28
		rounded
		opacity-50;
}
.square-small-cyan{
	@apply absolute
		ml-16
		mt-10
		bg-gradient-to-br
	from-cyan-200
	to-cyan-300
		w-20
		h-20
	  sm:w-28
		sm:h-28
		opacity-50;
}
.square-small-light-blue{
	@apply absolute
		ml-32
		mt-20
		bg-gradient-to-br
	from-light-blue-200
	to-light-blue-400
		w-20
		h-20
		sm:w-28
		sm:h-28
		rounded
		opacity-50;
}
.component-card {
	@apply flex
		items-center
		justify-center
		xl:justify-evenly
		bg-white
		shadow
		rounded
		transform
		hover:scale-105
		transition
		duration-300
		w-1/2
		sm:w-11/12
		md:w-full
		mx-auto;
}
